
* {
  font-family: 'Noto Sans JP', sans-serif;
}

/* タグ一覧ページのタグリンクを左揃えにし、余白を追加 */
.tag a {
  color: #0056b3;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left; /* タグリンクを左揃えに設定 */
}

.tag a:hover {
  color: #0056b3;
  text-decoration: underline;
}
